<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <form [formGroup]="AddCarsForm" (ngSubmit)="save()" novalidate>

        <table style="background-color:#FFFFFF; border: dashed 3px #6D7B8D; padding :5px;width :99%;table-layout:fixed;" cellpadding="2" cellspacing="2">
            <tr style="height: 30px; background-color:#336699 ; color:#FFFFFF ;border: solid 1px #659EC7;">
                <td width="40"></td>
                <td>
                    <h2>Insert/Edit Bike Details : </h2>
                </td>
            </tr>
            <tr>
                <td width="100"></td>
                <td>
                    <table style="color:#9F000F;font-size:large; padding :5px;" cellpadding="12" cellspacing="16">
                        <tr>
                            <td><b>Make </b> </td>
                            <td>
                                <input type="text" #MakeId (ngModel)="MakeId" value="{{MakeID}}" style="background-color:tan" readonly>
                            </td>
                            <td width="20"> </td>
                            <td><b> </b> </td>
                            <td>
                                <input type="text" #Model (ngModel)="Model" value="{{Model}}">
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><b>Engine </b> </td>
                            <td>
                                <input type="text" #Engine (ngModel)="Engine" value="{{Engine}}">
                            </td>
                            <td width="20"> </td>
                        </tr>
                        <tr>
                            <td><b>Wheels </b> </td>
                            <td>
                                <input type="text" #Wheels (ngModel)="Wheels" value="{{Wheels}}">

                            </td>
                            <td><b>Car Type </b> </td>
                            <td>
                                <input type="text" #CarType (ngModel)="CarType" value="{{Bike}}" />
                            </td>
                            <td width="20"> </td>
                            <td align="right" colspan="2">
                                <button (click)=AddBikes(make.value,Model.value,Engine.value,wheels.value,BikeType.value) style="background-color:#428d28;color:#FFFFFF;font-size:large;width:220px;
                              border-color:#a2aabe;border-style:dashed;border-width:2px;">
                                    Add
                                </button>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </form>
</body>
</html>